<div>
    <mat-card class="item" >
        <div class="avtar">
          <img [src]="getSantizeUrl('data:image/png;base64,'+player.Avtar)" alt="player">
        </div>
        <mat-card-title class="title">
            <b> Name: </b>{{player.Name}} <br/> 
            <b> Nationality: </b>{{player.Nationality}} <br/> 
            <b> National_Positio: </b>{{player.National_Position}} <br/> 
            <b> National_Kit: </b>{{player.National_Kit}} <br/> 
            <b> Club: </b>{{player.Club}} <br/> 
            <b> Club_Position: </b>{{player.Club_Position}} <br/> 
            <b> Club_Kit: </b>{{player.Club_Kit}} <br/> 
            <b> Club_Joining: </b>{{player.Club_Joining}} <br/> 
            <b> Contract_Expiry: </b>{{player.Contract_Expiry}} <br/> 
            <b> Rating: </b>{{player.Rating}} <br/> 
            <b> Height: </b>{{player.Height}} <br/> 
            <b> Weight: </b>{{player.Weight}} <br/> 
            <b> Preffered_Foot: </b>{{player.Preffered_Foot}} <br/> 
            <b> Birth_Date: </b>{{player.Birth_Date}} <br/> 
            <b> Age: </b>{{player.Age}} <br/>   
            <b> Preffered_Position: </b>{{player.Preffered_Position}} <br/> 
            <b> Work_Rate: </b>{{player.Work_Rate}} <br/> 
            <b> Weak_foot: </b>{{player.Weak_foot}} <br/> 
            <b> Skill_Moves: </b>{{player.Skill_Moves}} <br/> 
            <b> Ball_Control: </b>{{player.Ball_Control}} <br/> 
            <b> Dribbling: </b>{{player.Dribbling}} <br/> 
            <b> Marking: </b>{{player.Marking}} <br/> 
            <b> : </b>{{player.Sliding_Tackle}} <br/> 
            <b> Standing_Tackle: </b>{{player.Standing_Tackle}} <br/> 
            <b> Aggression: </b>{{player.Aggression}} <br/> 
            <b> Reactions: </b>{{player.Reactions}} <br/> 
            <b> Attacking_Position: </b>{{player.Attacking_Position}} <br/> 
            <b> Interceptions: </b>{{player.Interceptions}} <br/> 
            <b> Vision: </b>{{player.Vision}} <br/> 
            <b> Composure: </b>{{player.Composure}} <br/> 
            <b> Crossing: </b>{{player.Crossing}} <br/> 
            <b> Short_Pass: </b>{{player.Short_Pass}} <br/> 
            <b> Long_Pass: </b>{{player.Long_Pass}} <br/> 
            <b> Acceleration: </b>{{player.Acceleration}} <br/> 
            <b> Speed: </b>{{player.Speed}} <br/> 
            <b> Stamina: </b>{{player.Stamina}} <br/> 
            <b> Strength: </b>{{player.Strength}} <br/> 
            <b> Balance: </b>{{player.Balance}} <br/> 
            <b> Agility: </b>{{player.Agility}} <br/> 
            <b> Jumping: </b>{{player.Jumping}} <br/> 
            <b> Heading: </b>{{player.Heading}} <br/> 
            <b> Shot_Power: </b>{{player.Shot_Power}} <br/> 
            <b> Finishing: </b>{{player.Finishing}} <br/> 
            <b> Long_Shots: </b>{{player.Long_Shots}} <br/> 
            <b> Curve: </b>{{player.Curve}} <br/> 
            <b> Freekick_Accuracy: </b>{{player.Freekick_Accuracy}} <br/> 
            <b> Penalties: </b>{{player.Penalties}} <br/> 
            <b> Volleys: </b>{{player.Volleys}} <br/> 
            <b> GK_Positioning: </b>{{player.GK_Positioning}} <br/> 
            <b> GK_Diving: </b>{{player.GK_Diving}} <br/> 
            <b> GK_Kicking: </b>{{player.GK_Kicking}} <br/> 
            <b> GK_Handling: </b>{{player.GK_Handling}} <br/> 
            <b> GK_Reflexes: </b>{{player.GK_Reflexes}} <br/> 
        </mat-card-title>
    </mat-card>
</div>