


.box{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top:8vh;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: auto;
}


h1{
    text-align: center;
    font-weight: 150;
    padding:10px;
    color:snow;
    padding-top:30px; 
}

.item{
    padding:20px;
    height:auto;
    margin: 20px;
    cursor: pointer;
}

.item:hover{
    border: 1px solid silver;
}

.title{
    text-align: center;
    padding:10px;
}
.example-card {
    max-width: 400px;
}
  
.avtar{
    display: flex;
    width:200px;
    height:200px;
    border-radius:50%;
    margin:0 auto; 
}

img{
    width:100%;
    height:100%;
}
  